DM_BOT_DISCORD_TOKEN=
DM_BOT_DISCORD_APPLICATION_ID=
DM_BOT_DISCORD_PUBLIC_KEY=
DM_BOT_DISCORD_GUILD_ID=
DM_BOT_OLLAMA_BASE_URL=http://localhost:11434/v1
DM_BOT_ROUTER_MODEL=qwen3:1.7b
DM_BOT_NARRATOR_MODEL=fluffy/l3-8b-stheno-v3.2:q4_K_M
